@import "tailwindcss";

/* reset to make app full-bleed (no gaps at edges) */
html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    min-height: 100%;
}

/* Apply Montserrat globally */
*,
*::before,
*::after,
input,
textarea,
button,
select {
    font-family: "Montserrat", sans-serif;
}